/* styles.css */
.container {
    text-align: center;
}

h1 {
    padding: 5px;
    font-size: 42px;
    margin-bottom: 1rem;
    color: #a100a1;
    text-shadow: 0 0 10px rgba(138, 43, 226, 0.8), 0 0 20px rgba(138, 43, 226, 0.8), 0 0 30px rgba(138, 43, 226, 0.8);
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes neonGlow {
    0% {
        text-shadow: 0 0 10px rgba(138, 43, 226, 0.8), 0 0 20px rgba(138, 43, 226, 0.8), 0 0 30px rgba(138, 43, 226, 0.8);
    }
    100% {
        text-shadow: 0 0 20px rgba(138, 43, 226, 0.8), 0 0 40px rgba(138, 43, 226, 0.8), 0 0 60px rgba(138, 43, 226, 0.8);
    }
}
